//@include font-face("Georgia", font-files("Georgia.woff")); => include font face properly, just place it on /fonts folder
@include font-face("Georgia", font-files("Georgia.woff"));

$red: #d23836;
$blue: #337ab7;
$gray: #f5f5f5;
$darkgray: darken($gray, 40%);
$black: #1a212b;
$gold: #D3B88B;
$offwhite: #f8f8f8;
$green: #69804e;
$white: #fff;
$dirtywhite: #f5f5f5;

/* Fonts
---------------------------------------- */
$font-stack-1: 'Lato', sans-serif;
$font-stack-2: 'Roboto', Arial, sans-serif;


/* Susy
---------------------------------------- */

$susy: (
        columns: 12,
        gutters: .25,
        math: fluid,
        output: float,
);

@include breakpoint-set('default feature', 'max-width');

@include border-box-sizing;

$mobile: max-width 767px;
$tablet: 768px 1023px;
$portrait: 1024px 1279px;
$desk: 1300px;






